body {
  border: #900;
}

h1 {
  text-align: center;
  font-size: xx-large;
  width: auto;
  height: 50px;
  color: #009;
  background-color: red;
}

#tabel {
  color: black;
}

table {
  border: tomato;
  border-style: double;
  width: 1000px;
  height: 500px;
}

footer {
  background-color: #009;
  width: auto;
  height: 50px;
}
